<!DOCTYPE HTML>
<html>

<head>
    {% include 'head.html' %}
    <style>
      body { height: 100%; padding: 0; margin: 0; }
      div.box {
        display: flex;
        flex-direction: column;
        min-height: 100%;
      }
      div.header {height: 154px; width: 100%;}
      div.content {flex: 1;margin: 0 40px;border: none; }
    </style>
</head>

<body>
    <div class="box">
      <div class="header">
        {% include 'nav.html' %}
      </div>
      <div style="text-align: right;margin-right: 20px;margin-bottom: 10px">
        <a href="{{ root }}/{{ id }}/download/{{ prefix }}" class="btn btn-outline-primary">Download</a>
      </div>
      <div class="content">
        {{ content | safe }}
      </div>
    </div>
</body>
</html>